/*DESKTOP*/
@media(max-width:1366px){

}

/*TABLET*/
@media(max-width:828px){
    header {
        width: 100%;
        font-size: 20px;
    }
}

/*MOBILE*/
@media(max-width:424px){
    header {
        width: 100%;
        font-size: 20px;
    }
}