/*IMPORT*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*FUENTES*/
@font-face {
  font-family: titilliumFuenteCustom;
  src: url(./fonts/Titilium_web/);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
}

/*.container {
    display: grid;
    grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
    column-gap: 20px;
}

.box {
    background-color: pink;
    opacity: 0.5;
    text-align: center;
}*/
main .main,
.section-footer-1,
.section-footer-2 {
  width: 80%;
  margin: auto;
}

/* HEADER */
.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: 'Titillium Web', sans-serif;
}

.circle {
  width: 32px;
  height: 32px;
  background-color: #0062A1;
  border-radius: 100%;
}

.circle-a {
  width: 32px;
  height: 32px;
  background-color: gray;
  border-radius: 100%;
  margin-left: 13px;
}

.logo {
  color: white;
  text-align: center;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  margin-left: 20px;
  font-size: 20px;
  color: #0062A1;
}

/*banner*/
.banner img {
  width: 100%;
  /*height: 200px;*/
  margin-bottom: 50px;
}

.blog {
  position: absolute;
  top: 12%;
  left: 25%;
  width: 60%;
  color: black;
  padding: 15px;
  text-align: center;
  background-color: lightblue;
  opacity: 0.8;
  border-radius: 30px;
}

.blog h1 {
  margin-bottom: 20px;
  font-size: 70px;
}

.blog p {
  margin-bottom: 20px;
  font-size: 20px;
  padding: 10px;
}

.banner .blog {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*search*/
/*.search .caja {
    display: flex;
    width: 100%;
    height: 56px;
    margin: auto;
}

.caja {
    position: absolute;
    display: flex;
    width: 100%;
    height: 56px;
}*/
.search .box-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px;
  background: #F4F4F4;
  border-radius: 20px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-a .button-lupa {
  border: none;
  background: none;
}

.box-a .lupa {
  width: 100%;
  padding-left: 10px;
}

.box-a .input-search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 10%;
  margin-left: 10px;
  width: 100%;
  border: none;
  background: transparent;
  opacity: 0.6;
  font-size: 1.5rem;
  outline: none;
}

/*POPULARES*/
.popular h2 {
  margin-bottom: 34px;
  font-size: 1.3rem;
  color: #0062A1;
}

.seccion-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.articulo-1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articulo-1 .block-1 .block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-1 {
  width: 50%;
  padding-right: 5%;
}

.block-1 h3 {
  font-size: 2.5rem;
  color: #1F3F68;
  font-weight: bold;
  line-height: 46px;
  margin-bottom: 20px;
}

.block-1 p {
  font-size: 1.4rem;
  line-height: 30px;
  opacity: 0.6;
  margin-bottom: 20%;
}

.block-1 .footer {
  margin-bottom: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer h4 {
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 15px;
  color: #0062A1;
}

.footer .bold {
  font-weight: bold;
}

.footer img {
  margin-right: 20px;
}

.block-2 {
  width: 50%;
}

.seccion-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.varios-articulos {
  width: 33.33%;
  margin-right: 40px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.varios-articulos h3 {
  font-size: 1.5rem;
  color: #1F3F68;
  font-weight: bold;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.varios-articulos p {
  font-size: 1.2rem;
  line-height: 30px;
  opacity: 0.6;
  margin-bottom: 20%;
}

.see-all {
  display: block;
  text-align: right;
  margin-bottom: 25px;
  color: #0062A1;
  font-size: 1.5rem;
}

/*ALL ARTICLE*/
.all-article h2 {
  font-size: 1.3rem;
  color: #0062A1;
  margin: 50px 0px 30px;
}

.article {
  display: block;
  margin-top: 30px;
}

.caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.caja figure {
  margin-right: 40px;
}

.caja h3 {
  font-size: 1.3rem;
  color: #1F3F68;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 20px;
}

.caja p {
  font-size: 1.1rem;
  line-height: 30px;
  opacity: 0.6;
  margin-bottom: 40px;
}

.flechas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0px 50px;
}

.flechas div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flechas div p {
  margin: 0px 15px;
}

/*FOOTER*/
footer .footer-1 {
  background-color: #0062A1;
  border-radius: 0px 500px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-footer-1,
.section-footer-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 90px;
}

.section-footer-1 .text-1,
.section-footer-2 .text-1 {
  width: 50%;
}

.section-footer-1 .text-1 h3,
.section-footer-2 .text-1 h3 {
  font-size: 2rem;
  margin-bottom: 25px;
  color: white;
}

.section-footer-1 .text-1 p,
.section-footer-2 .text-1 p {
  font-size: 1.3rem;
  color: lightgray;
}

.footer-button {
  width: 50%;
}

.footer-button .button-1 {
  background-color: #5A98D0;
  color: white;
  padding: 15px 60px;
  border-radius: 10px;
  margin-left: 50%;
  margin-top: 10%;
}

footer .footer-2 {
  background-color: #0062A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-footer-2 {
  margin-top: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
  gap: 5%;
}

.footer-2 .circle {
  width: 32px;
  height: 32px;
  background-color: lightblue;
  border-radius: 100%;
}

.logo-footer .logo-linea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 39px;
}

.logo-footer .logo-linea h2 {
  color: white;
  font-size: 1.5rem;
  margin-left: 30px;
}

.logo-footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 35px;
  color: white;
}

.logo-footer li span {
  font-weight: bold;
}

.logo-footer li p {
  margin-left: 15px;
}

.section-footer-2 .about-us {
  color: white;
}

.section-footer-2 .about-us h2 {
  font-size: 1.5rem;
  padding: 5px;
  margin-bottom: 39px;
}

.section-footer-2 .about-us li {
  line-height: 35px;
  font-size: 1.2rem;
}

.section-footer-2 .about-us li a {
  color: white;
}

.section-footer-2 .follow-us {
  color: white;
}

.section-footer-2 .follow-us h2 {
  font-size: 1.5rem;
  padding: 5px;
  margin-bottom: 39px;
}

.section-footer-2 .follow-us li {
  line-height: 35px;
  font-size: 1.2rem;
}

.section-footer-2 .follow-us li a {
  color: white;
}
/*# sourceMappingURL=main.css.map */